@media screen and (min-width: 300px) and (max-width: 768px) {
    nav{
        height: 200px;
        max-width: 100%;
    }

    a {
        text-decoration: none;
    }

    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;
      }

    .bm-burger-bars {
    background: var(--secondary-color);
    border-radius:8px;
    }

    .bm-burger-bars-hover {
        background: var(--olive-color);
    }

    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    .bm-cross {
        background: var(--gray-color);
    }
    
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
    }
    
    .bm-menu {
        background: var(--dark-color);
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
    }
    
    .bm-morph-shape {
        fill: var(--dark-color);
    }
    
    .bm-item-list {
        padding: 0.8em;
    }
    
    .bm-item {
        display: inline-block;
        color: var(--primary-color);
        font-family: 'Metropolis1920';
        font-weight: 300;
        font-size: 24px;
        margin-top:8px;
    }
    
    .bm-overlay {
        background:var(--dark-color);
    }
}