
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product span {
    font-size: 30px;
}

.product img {
    width: 200px;
    margin-top: 80px;
}

.container {
    padding: 30px;
    font-size: 26px;
    background: linear-gradient(90deg, rgba(135,113,121,1) 51%, rgba(239,239,220,1) 100%);     font-family: 'Metropolis1920';

}

button {
    font-size: 66px;
    background-color: var(--primary-color);
    font-family: 'Zilla Slab', serif;
    color:var(--lite-color);
    border-radius: 100000px;
    border-color:black;
    padding-left:27px;
    padding-right: 27px;
    padding-bottom: 10px;
}

.buy{
    display:flex;
    justify-content: space-around;
    align-items: center
    ;
}
.add-button:hover{
    background-color: black;
}

.desc-cocktail{
    color: white;
    text-align: center;
}

img{
    height: 40vh;
    box-shadow: 10px 7px 15px var(--primary-color);
}
.bottle{
    margin-bottom: 30px;
}
.article{
    display:grid;
    grid-template-columns: repeat(auto-fill,340px);
}